body{
  font-family:Indie Flower;
  background-color: #1b262c;
}

h1{
  font-family: Pacifico;
  text-align: center;
  color:#3282b8;
  font-size: 8rem;
  margin: 0 auto 50px auto;
  text-shadow: 3px 0 black;
}

footer{
  text-align: center;
  color: #bbe1fa;
}
input{
  font-family:Indie Flower;
  background-color: #3282b8;
  border-color: #0f4c75;
}

.container{
  display:block;
  text-align: center;
}
.playArea{
  display:inline-block;
  text-align: center;
  color:#3282b8;
  font-size: 2rem;
}
